@font-face {
  font-family: "chromateregular";
  src: url("chromate-regular-webfont.woff2") format("woff2"),
    url("chromate-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 1200px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 50%;
  }
}

#navbar {
  width: 100%;
  position: fixed;
  background-color: #131f32;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 1rem;
}

.nav-list a {
  display: block;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  color: #f3e9e6;
  text-shadow: 1px 1px 4px #00000065;
  padding: 1.5rem;
  font-size: xx-large;
}

.nav-list a:hover {
  background-color: #819fa6;
}

a {
  text-decoration: none;
}

#welcome-section {
  background: url("images/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  padding-left: 12rem;
  font-size: 3rem;
}

#welcome-section h1 {
  color: #c49d87;
  text-shadow: 1px 1px 4px #00000065;
  font-family: 'Lobster', cursive;
}

#welcome-section h6 {
  color: #e9d5cd;
  text-shadow: 1px 1px 4px #00000065;
  font-family: 'Raleway', sans-serif;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3e9e6;
  background-size: cover;
}

#projects h2 {
  font-size: 2rem;
  margin-top: 3rem;
  font-family: 'Lobster', cursive;
  color: #131f32;
}

#projects figcaption {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.projects-grid {
  width: 80vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.project-tile {
  margin: 2rem;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 320px;
  background-color: #819fa6;
  font-size: 2rem;
}

#contact h1,
h4 {
  color: #131f32;
  font-family: 'Lobster', cursive;
  padding-bottom: 1rem;
}

#contact div {
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

#contact div a {
  padding: 2rem;
  font-size: 1.5rem;
  color: #131f32;
  text-shadow: 1px 1px 4px #00000065;
  transition: transform 0.3s linear;
}

#contact div a:hover {
  transform: translateY(-5px);
}

footer h4 {
  text-align: center;
  padding: 1rem;
  color: black;
  background-color: #819fa6;
  font-family: 'Raleway', sans-serif;
}
