* {
    margin: 0;
    box-sizing: border-box;
  }
  
  .pokeGrid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .scene {
    width: 200px;
    height: 260px;
    margin: .5em;
    perspective: 600px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .cardFace {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .front {
    background: magenta;
  }
  
  .back {
    background: mediumseagreen;
    transform: rotateY(180deg);
  }
  
  figure img {
    width: 200px;
  }
  
  figcaption {
    text-transform: capitalize;
    font-size: 130%;
    line-height: 3em;
    text-align: center;
  }