* {
  margin: 0;
  box-sizing: border-box;
}

.pokeGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffffffce;
  margin: 1vw 5vw 1vw 5vw;
  box-shadow: 4px 4px 10px #000000;
  border-radius: 10px;
}

body {
  background-image: url("/images/pokebackground.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.scene {
  width: 200px;
  height: 260px;
  margin: 0.5em;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  box-shadow: 4px 4px 4px #0000003d;
  border-radius: 5px;
}

.cardFace {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 5px;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.front {
  background: #ff0000;
}

.back {
  background: white;
  transform: rotateY(180deg);
  text-align: center;
  padding-top: 1.5vw;
  font-family: futura-pt, sans-serif;
}

.back h4, h5 {
  margin-top: .4em;
}

figure img {
  width: 200px;
}

ul {
  text-align: left;
}

ol {
  text-align: left;
}

figcaption {
  text-transform: capitalize;
  font-size: 130%;
  line-height: 3em;
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: italic;
  text-shadow: 1px 1px 3px #00000059;
}

h1 {
  font-family: "Sigmar One", cursive;
  text-align: center;
  font-size: 4em;
  color: #ffde00;
  text-shadow: 4px 4px 4px #3b4cca;
}

header {
  background-color: rgba(0, 0, 0, 0.775);
  box-shadow: 4px 4px 4px #000000;
}

button {
  background-color: #FF0000;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: white;
  text-shadow: 1px 1px 3px #00000059;
  cursor: pointer;
  display: inline-block;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 1.2em;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: .5em;
  box-shadow: 4px 4px 4px #00000088;
}

button:hover {
  background-color: #CC0000;
  color: #fff;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}