* {
  margin: 0;
  box-sizing: border-box;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

header,
footer {
  font-family: "Orbitron", sans-serif;
  font-size: xx-large;
  text-align: center;
  padding: 0.5em;
  color: gold;
}

footer {
  font-size: medium;
}

.mainContainer {
  display: flex;
}

.nav {
  margin-left: 2em;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: large;
  padding: 1em;
  position: fixed;
  top: 15%;
  left: 15%;
}

.box {
  font-size: x-large;
  background-color: lightgray;
  color: black;
  text-align: center;
  font-family: 'Space Mono', monospace;
}


.shipName {
  font-family: "Orbitron", sans-serif;
  padding: 1em;
  color: gold;
  font-size: xx-large;
}

a {
  font-size: large;
  color: rgba(150, 150, 255, 1);
  font-family: "Orbitron", sans-serif;
  text-shadow: 1px 1px 4px navy;
}

a:hover {
    color: rgb(226, 226, 255);
}

a li {
  padding: 0.2em;
}
